@using Core.Constants
@using Web.ViewModels.Product;
@model ProductIndexViewModel;

<div class="row">
    <div class="container">
        <a class="btn btn-outline-success" asp-action="create" asp-controller="product">Create</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Category</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Title</td>
                        <td>
                            <img style="width:120px;height:120px;object-fit:cover" class="img-thumbnail" src="~/images/@product.MainPhotoPath" />
                        </td>
                        <td>@product.Category.Title</td>
                        <td>@product.Status</td>
                        <td>
                            <form method="post">
                                @{
                                    if (User.IsInRole(UserRoles.Admin.ToString()))
                                    {
                                        <a class="btn btn-outline-warning" asp-action="update" asp-controller="product" asp-route-id="@product.Id">Update</a>
                                        <button class="btn btn-outline-danger" asp-action="delete" asp-controller="product" asp-route-id="@product.Id">Delete</button>
                                    }
                                }
                                <a class="btn btn-outline-info" asp-action="details" asp-controller="product" asp-route-id="@product.Id">Details</a>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>